
/*background-image: url("../assets/background.jpg");*/

header::after {
  content: "";
  background-image: url("../assets/background.jpg");
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

header h1 {
  color: #555;
}

section {
  background-color: white;
}

/* https://www.magicpattern.design/tools/css-backgrounds */
/*header {
  background-color: #4b4b4b;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #4b4b4b 40px ), repeating-linear-gradient( #4d585f55, #4d585f );
}*/
